@font-face {
	font-family: 'Montserrat';
	src: url('public/Montserrat-VariableFont_wght.ttf') format('ttf') tech('variations'),
	     url('public/Montserrat-VariableFont_wght.ttf') format('ttf');
	font-weight: 100 900;
	font-stretch: 25% 151%;
}

body{
    font-family: "Montserrat";
}

.nav-link{
	font-weight: 700!important;
	font-size: large;
	color: unset!important;
}


.body_light{
	height: 100vh;
	background: center center no-repeat url('public/light_bg_desktop.jpg')!important;
	background-size: cover!important;
	color: black!important;
}

.body_dark{
	height: 100vh;
	background: center center no-repeat url('public/dark_bg_desktop.jpg')!important;
	background-size: cover!important;
	color: white!important;
}

@media (max-width: 768px){
	.body_light{
		height: 100vh;
		background: center center no-repeat url('public/light_bg_mobile.jpg')!important;
		background-size: cover!important;
}

	.body_dark{
		height: 100vh;
		background: center center no-repeat url('public/dark_bg_mobile.jpg')!important;
		background-size: cover!important;
	}
}

.nav-link:hover{
	color: #DE6439!important;
}

.active{
	color: #DE6439!important;
}



.navbar-collapse{
	flex-grow: 0!important;
}

a{
	text-decoration: none!important;
	color: unset!important;
}