@font-face {
	font-family: 'Montserrat';
	src: url('public/Montserrat-VariableFont_wght.ttf') format('ttf') tech('variations'),
	     url('public/Montserrat-VariableFont_wght.ttf') format('ttf');
	font-weight: 100 900;
	font-stretch: 25% 151%;
}

body{
    font-family: "Montserrat";
	overflow: overlay;
}

.nav-link{
	font-weight: 700!important;
	font-size: large;
	color: unset!important;
}


.body_light{
	color: black!important;
	min-height: 100vh;
}

.background{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
    z-index: -1;
}

.background_light{
	background-image: url('public/light_bg_desktop.webp');
}

.background_dark{
	background-image: url('public/dark_bg_desktop.webp');
}

.body_dark{
	color: white!important;
	min-height: 100vh;
}

@media (max-width: 768px){
	.background_light{
		background-image: url('public/light_bg_mobile.webp');
	}
	.background_dark{
		background-image: url('public/dark_bg_mobile.webp');
	}
}

.nav-link:hover{
	color: #DE6439!important;
}

.active{
	color: #DE6439!important;
}



.navbar-collapse{
	flex-grow: 0!important;
}

a{
	text-decoration: none!important;
	color: unset!important;
}

.card-transparent{
	background: rgba(24, 24, 16, .05)!important;
  border-radius: 2em!important;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05)!important;
  background-clip: padding-box!important;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03)!important;
}

.margin-start{
	margin-top: 5vh!important;
}

.button {
    background: white;
    border: 1px solid #a5b1c2;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #111111!important;
    display: inline-block;
    margin: 1rem auto;
    min-width: 180px;
    overflow: hidden;
    padding: 15px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .3s ease-in-out all;
	font-weight: 700!important;
	font-size: large;
	margin-top: 5vh;
	letter-spacing: 0.1rem;
}

@media (max-width:768px){
	.button{
		margin-top:2vh;
	}
}
.button span {
    position: relative;
    z-index: 2;
}

.button:before {
    background: linear-gradient(transparent 0%, rgba(255,255,255,0.6) 50%, transparent 100%);
    content:'';
    height: 200%;
    position: absolute;
    right: calc(100% + 20px);
    top: -55%;
    transform: rotate(-70deg);
    transition: .6s ease-in-out right;
    width: 80px;
    z-index: 0;
}

.button:hover:before {
    right: -100%;
}
/* Extra visual styling for buttons on hover - optional */
.button:hover, .button:focus {
    box-shadow: 0 8px 12px rgba(0,0,0,0.1), inset 0 10px 30px rgba(255,255,255,0.3), inset 0 2px 2px rgba(255,255,255,0.2);
    color: white;
}

.button.orange:hover, .button.orange:focus { background: #DE6439; border-color: #DE6439; }

.tag{
	border: 1px solid white;
	padding: 0.5rem;
	border-radius: 0.6rem;
	background-color: rgba(0,0,0,0.1);
	font-size: 0.6rem;
}

.titre{
	font-size: 1.8rem;
}

@media (min-width:728px){
	.titre{
		font-size:2rem;
	}

	.tag{
		font-size:1rem;
	}

	.short{
		font-size:1.1rem;
	}
}

.more{
	background: white;
    border: 1px solid #a5b1c2;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #111111!important;
    display: inline-block;
    overflow: hidden;
    padding:0.5rem 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .3s ease-in-out all;
	font-weight: 700!important;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	max-width: 180px;
}

.more span{
	position: relative;
    z-index: 2;
}

.more:before{
	background: linear-gradient(transparent 0%, rgba(255,255,255,0.6) 50%, transparent 100%);
    content:'';
    height: 200%;
    position: absolute;
    right: calc(100% + 20px);
    top: -55%;
    transform: rotate(-70deg);
    transition: .6s ease-in-out right;
    width: 80px;
    z-index: 0;
}

.more:hover:before{
	right: -100%;
}

.more:hover, .more:focus{
	box-shadow: 0 8px 12px rgba(0,0,0,0.1), inset 0 10px 30px rgba(255,255,255,0.3), inset 0 2px 2px rgba(255,255,255,0.2);
    color: white;
}

.more.orange:hover, .more.orange:focus { background: #DE6439; border-color: #DE6439; }

.more.noir:hover, .more.noir:focus {background: black; border-color: black; color:white!important;}

.more.blanc:hover, .more.blanc.focus {background: white; border-color: white; color:black!important;}

.startnoir{
	background: black;
	border-color: white;
	color: white!important;
}

.startnoir:before{
	background: linear-gradient(transparent 0%, rgba(0,0,0,0.6) 50%, transparent 100%);
}

@media (min-width:768px){
	.more{
		font-size:1rem;
	}
}

.customcontainer{
	width:90vw;
	margin-left: 5vw;
}

.max-width{
	max-width: 400px;
}

.select{
	width: 50%;
	max-width: 200px;
	margin-left:auto;
	margin-right: auto;
	outline: 0;
	border-radius: 4px;
	border: none;
  	height: 100%;
  	text-align: left;
  	cursor: pointer;
	font-weight: 700;
	transition-duration: 0.8s;
	background-color: #111111;
	color: aliceblue;
}

option{
	font-weight: 600;
}

.form-group{
	width: 100%;
	max-width: 800px;
}

input, textarea{
	max-width: 800px;
	background-color: rgba(255, 255, 255, 0.5)!important;
	backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05)!important;
  background-clip: padding-box!important;
  font-weight: 600!important;
}
input:focus, textarea:focus{
	box-shadow:0 0 0 0.05rem rgb(0 0 0 / 25%)!important;
}


label{
	font-weight: 700;
}

.input-dark{
	background-color: rgba(0,0,0,0.1)!important;
	color: white!important;
}

.input-dark:focus{
	box-shadow:0 0 0 0.05rem rgb(255 255 255 / 25%)!important;
}

body::-webkit-scrollbar {
	width: 12px;
	border-radius: 20%;
	background-color: transparent;
	
  }
   
  body::-webkit-scrollbar-track {
	background-color: transparent;
  }
   
  body::-webkit-scrollbar-thumb {
	background: linear-gradient(aliceblue, #222222);
	border-radius: 5em;
  }